In [ ]:
# Imports
import pandas as pd
import yfinance as yf

# Question 1: [Index] S&P 500 Stocks Added to the Index

Which year had the highest number of additions?

In [ ]:
# Create a dataFrame with company tickers, names, and the year they were added:
tables = pd.read_html(io='https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [ ]:
df = tables[0]

In [ ]:
df = df.drop(['GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'CIK', 'Founded'], axis=1)

In [ ]:
df['Date added'] = pd.to_datetime(df['Date added'])

In [ ]:
# Extract the year from the addition date:
df['Year added'] = df['Date added'].dt.year

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      503 non-null    object
 1   Security    503 non-null    object
 2   Date added  503 non-null    datetime64[ns]
 3   Year added  503 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 15.8+ KB

In [ ]:
# Calculate the number of stocks added each year:
df.groupby('Year added')['Symbol'].size().sort_values(ascending=False).head(5)

Year added
1957    53
2017    23
2016    23
2019    22
2008    17
Name: Symbol, dtype: int64

# Question 2. [Macro] Indexes YTD (as of 1 May 2025)

How many indexes (out of 10) have better year-to-date returns than the US (S&P 500) as of May 1, 2025?

In [ ]:
# Download data using yfinance:
tickers = ['^GSPC', '000001.SS', '^HSI', '^AXJO', '^NSEI', '^GSPTSE', '^GDAXI', '^FTSE', '^N225', '^MXX', '^BVSP']

In [ ]:
multi_data = yf.download(tickers, start='2025-01-01', end='2025-05-01', interval='1d')
print(multi_data.tail())

[*********************100%***********************]  11 of 11 completed

Price             Close                                                    \
Ticker        000001.SS        ^AXJO     ^BVSP        ^FTSE        ^GDAXI
Date
2025-04-24  3297.288086  7968.200195  134580.0  8407.400391  22064.509766
2025-04-25  3295.060059          NaN  134739.0  8415.299805  22242.449219
2025-04-28  3288.415039  7997.100098  135016.0  8417.299805  22271.669922
2025-04-29  3286.655029  8070.600098  135093.0  8463.500000  22425.830078
2025-04-30  3279.031006  8126.200195  135067.0  8494.900391  22496.980469

Price                                                              \
Ticker            ^GSPC       ^GSPTSE          ^HSI          ^MXX
Date
2025-04-24  5484.770020  24727.500000  21909.759766  56382.000000
2025-04-25  5525.209961  24710.500000  21980.740234  56720.121094
2025-04-28  5528.750000  24798.599609  21971.960938  56980.128906
2025-04-29  5560.830078  24874.500000  22008.109375  55613.429688
2025-04-30  5569.060059  24841.699219  22119.410156  56259.281250

Price                     ...    Volume                                        \
Ticker             ^N225  ...     ^AXJO       ^BVSP         ^FTSE      ^GDAXI
Date                      ...
2025-04-24  35039.148438  ...  639100.0  14113400.0  1.126606e+09  62636800.0
2025-04-25  35705.738281  ...       NaN  13051800.0  8.027340e+08  70917400.0
2025-04-28  35839.988281  ...  769000.0  11449700.0  7.387417e+08  55883200.0
2025-04-29           NaN  ...  710800.0  12761100.0  6.559248e+08  75547100.0
2025-04-30  36045.378906  ...  889500.0  15452400.0  1.589592e+09  99189800.0

Price                                                                          \
Ticker             ^GSPC      ^GSPTSE          ^HSI         ^MXX        ^N225
Date
2025-04-24  4.697710e+09  224419200.0  2.985800e+09  249950000.0  137100000.0
2025-04-25  4.236580e+09  214234300.0  3.025700e+09  217532100.0  134700000.0
2025-04-28  4.257880e+09  224287200.0  2.466000e+09  193000200.0  132400000.0
2025-04-29  4.747150e+09  199905200.0  3.045200e+09  240938000.0          NaN
2025-04-30  5.449490e+09  271264200.0  4.682300e+09  226957400.0  167100000.0

Price
Ticker         ^NSEI
Date
2025-04-24  358800.0
2025-04-25  387700.0
2025-04-28  320500.0
2025-04-29  357600.0
2025-04-30  424500.0

[5 rows x 55 columns]

In [ ]:
df = multi_data['Close']

In [ ]:
df.head()

Ticker,000001.SS,^AXJO,^BVSP,^FTSE,^GDAXI,^GSPC,^GSPTSE,^HSI,^MXX,^N225,^NSEI
Date,,,,,,,,,,,
2025-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23742.900391
2025-01-02,3262.561035,8201.200195,120125.0,8260.099609,20024.660156,5868.549805,24898.000000,19623.320312,49765.199219,NaN,24188.650391
2025-01-03,3211.429932,8250.500000,118533.0,8224.000000,19906.080078,5942.470215,25073.500000,19760.269531,48957.238281,NaN,24004.750000
2025-01-06,3206.923096,8288.500000,120022.0,8249.700195,20216.189453,5975.379883,24999.800781,19688.289062,49493.558594,39307.050781,23616.050781
2025-01-07,3229.644043,8285.099609,121163.0,8245.299805,20340.570312,5909.029785,24929.900391,19447.580078,50085.500000,40083.300781,23707.900391

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86 entries, 2025-01-01 to 2025-04-30
Freq: B
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   000001.SS  78 non-null     float64
 1   ^AXJO      81 non-null     float64
 2   ^BVSP      81 non-null     float64
 3   ^FTSE      83 non-null     float64
 4   ^GDAXI     83 non-null     float64
 5   ^GSPC      81 non-null     float64
 6   ^GSPTSE    83 non-null     float64
 7   ^HSI       79 non-null     float64
 8   ^MXX       81 non-null     float64
 9   ^N225      78 non-null     float64
 10  ^NSEI      80 non-null     float64
dtypes: float64(11)
memory usage: 8.1 KB

In [ ]:
df = df.sort_index()

In [ ]:
# Find the first (non-NaN) value for each column:
first_values = df.apply(lambda col: col[col.first_valid_index()], axis=0)

In [ ]:
# # Find the last (non-NaN) value for each column:
last_values = df.apply(lambda col: col[col.last_valid_index()], axis=0)

In [ ]:
# Calculate YTD returns:
ytd_percentage = ((last_values - first_values)/first_values)*100

In [ ]:
# Compare the year-to-date (YTD) performance:
ytd_percentage.sort_values(ascending=False)

Ticker
^MXX         13.049444
^HSI         12.720018
^BVSP        12.438710
^GDAXI       12.346378
^FTSE         2.842590
^NSEI         2.490424
000001.SS     0.504817
^GSPTSE      -0.226126
^AXJO        -0.914500
^GSPC        -5.103301
^N225        -8.297931
dtype: float64

In [ ]:
# How many indexes beat ^GSPC (S&P 500):
ytd_percentage[ytd_percentage > ytd_percentage['^GSPC']].count()

9

# Question 3. [Index] S&P 500 Market Corrections Analysis

Calculate the median duration (in days) of significant market corrections in the S&P 500 index.

In [ ]:
# Download S&P 500 historical data (1950-present) using yfinance
ticker = '^GSPC'
stock = yf.Ticker(ticker)

In [ ]:
historical_data = stock.history(period='max', interval='1d')

In [ ]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24470 entries, 1927-12-30 00:00:00-05:00 to 2025-06-02 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          24470 non-null  float64
 1   High          24470 non-null  float64
 2   Low           24470 non-null  float64
 3   Close         24470 non-null  float64
 4   Volume        24470 non-null  int64
 5   Dividends     24470 non-null  float64
 6   Stock Splits  24470 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 2.0 MB

In [ ]:
historical_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0

In [ ]:
df = historical_data.loc['1950-01-01':, ['Close']].copy()

In [ ]:
df = df.reset_index().rename(columns={'index': 'Date'})

In [ ]:
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df = df.sort_values('Date').reset_index(drop=True)

In [ ]:
df['All-time high points'] = df['Close'].cummax()

In [ ]:
df.loc[46:51]

         Date      Close  All-time high points
46 1950-03-10  17.090000             17.320000
47 1950-03-13  17.120001             17.320000
48 1950-03-14  17.250000             17.320000
49 1950-03-15  17.450001             17.450001
50 1950-03-16  17.490000             17.490000
51 1950-03-17  17.450001             17.490000

In [ ]:
ath_points = df[df['Close'] == df['All-time high points']]

In [ ]:
ath_points = ath_points.drop_duplicates(subset='Close', keep='first')

In [ ]:
ath_points

            Date        Close  All-time high points
0     1950-01-03    16.660000             16.660000
1     1950-01-04    16.850000             16.850000
2     1950-01-05    16.930000             16.930000
3     1950-01-06    16.980000             16.980000
4     1950-01-09    17.080000             17.080000
...          ...          ...                   ...
18852 2024-12-04  6086.490234           6086.490234
18854 2024-12-06  6090.270020           6090.270020
18884 2025-01-23  6118.709961           6118.709961
18901 2025-02-18  6129.580078           6129.580078
18902 2025-02-19  6144.149902           6144.149902

[1447 rows x 3 columns]

In [ ]:
data = []

In [ ]:
for i in range(len(ath_points) - 1):
    start_idx = ath_points.index[i]
    end_idx = ath_points.index[i + 1]
    
    sub_df = df.loc[start_idx:end_idx]
    if len(sub_df) <= 2:
        continue  

    low_row = sub_df.loc[sub_df['Close'].idxmin()]
    
    high_price = df.loc[start_idx, 'Close']
    low_price = low_row['Close']
    low_date = low_row['Date']
    drawdown = (high_price - low_price) / high_price * 100
    duration = (low_date - df.loc[start_idx, 'Date']).days

    data.append({
        'Start Date': df.loc[start_idx, 'Date'],
        'End Date': df.loc[end_idx, 'Date'],
        'Drawdown': drawdown,
        'Duration': duration
    })

In [ ]:
df_corrections = pd.DataFrame(data)

In [ ]:
df_corrections.head()

  Start Date   End Date  Drawdown  Duration
0 1950-01-09 1950-01-11  0.292736         1
1 1950-01-11 1950-02-02  2.457578         2
2 1950-02-06 1950-03-15  1.905311        10
3 1950-03-16 1950-03-22  0.285873         4
4 1950-03-23 1950-04-05  1.537577         8

In [ ]:
# Filter for corrections with at least 5% drawdown:
df_corrections = df_corrections[df_corrections['Drawdown'] >= 5]

In [ ]:
# Here is the list of top 10 largest corrections by drawdown:
df_corrections.sort_values('Drawdown', ascending=False).head(10)

    Start Date   End Date   Drawdown  Duration
454 2007-10-09 2013-03-28  56.775388       517
449 2000-03-24 2007-05-30  49.146948       929
212 1973-01-11 1980-07-17  48.203593       630
199 1968-11-29 1972-03-06  36.061641       543
580 2020-02-19 2020-08-18  33.924960        33
298 1987-08-25 1989-07-26  33.509515       101
137 1961-12-12 1963-09-03  27.973568       196
225 1980-11-28 1982-11-03  27.113582       622
626 2022-01-03 2024-01-19  25.425097       282
182 1966-02-09 1967-05-04  22.177335       240

In [ ]:
# Determine the 25th, 50th (median), and 75th percentiles for correction durations:
duration_percentiles = df_corrections['Duration'].quantile([0.25, 0.5, 0.75])
print(duration_percentiles)

0.25    21.5
0.50    39.0
0.75    89.0
Name: Duration, dtype: float64

# Question 4. [Stocks] Earnings Surprise Analysis for Amazon (AMZN)

Calculate the median 2-day percentage change in stock prices following positive earnings surprises days.

In [ ]:
# Load earnings data from the supplied CSV:
df0 = pd.read_csv('.../Downloads/ha1_Amazon.csv', delimiter=';')

In [ ]:
df0.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise (%)
0,AMZN,Amazon.com Inc,2026-04-29,NaN,NaN,NaN
1,AMZN,Amazon.com Inc,2026-02-04,NaN,NaN,NaN
2,AMZN,Amazon.com Inc,2025-10-29,NaN,NaN,NaN
3,AMZN,Amazon.com Inc,2025-07-30,NaN,NaN,NaN
4,AMZN,"Amazon.com, Inc.",2025-05-01,1.36,1.59,16.74

In [ ]:
# Identify positive earnings surprises (where "actual EPS > estimated EPS" and both fields are present in the dataframe):
df_PES = df0[df0['EPS Estimate'].notnull() & df0['Reported EPS'].notnull() & (df0['Reported EPS'] > df0['EPS Estimate'])]

In [ ]:
df_PES.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise (%)
4,AMZN,"Amazon.com, Inc.",2025-05-01,1.36,1.59,16.74
5,AMZN,"Amazon.com, Inc.",2025-02-06,1.49,1.86,24.47
6,AMZN,"Amazon.com, Inc.",2024-10-31,1.14,1.43,25.17
7,AMZN,"Amazon.com, Inc.",2024-08-01,1.03,1.26,22.58
8,AMZN,"Amazon.com, Inc.",2024-04-30,0.83,0.98,17.91

In [ ]:
# Download historical price data for AMZN:
ticker = 'AMZN'
stock = yf.Ticker(ticker)

In [ ]:
historical_data = stock.history(period='max', interval='1d')

In [ ]:
len(historical_data)

7056

In [ ]:
# Calculate 2-day percentage changes, using historical data:
df['2day change'] = df['Close'].pct_change(periods=2)*100

In [ ]:
df.head()

        Date     Close  2day change
0 1997-05-15  0.097917          NaN
1 1997-05-16  0.086458          NaN
2 1997-05-19  0.085417   -12.765910
3 1997-05-20  0.081771    -5.421125
4 1997-05-21  0.071354   -16.463936

In [ ]:
# Assume the next trading day may correspond to the earnings announcement:
data = []
for i in df_PES['Earnings Date']:
    following_dates = df[df['Date'] > i]
    
    if not following_dates.empty:
        next_trading_day = following_dates.iloc[0]
        data.append(next_trading_day)

In [ ]:
df_following = pd.DataFrame(data)
df_following.head()

           Date       Close  2day change
7035 2025-05-02  189.979996     3.014856
6977 2025-02-07  229.149994    -2.972437
6912 2024-11-01  197.929993     2.698074
6848 2024-08-02  167.899994   -10.204301
6784 2024-05-01  179.000000    -1.083116

In [ ]:
# Calculate 2-day percentage changes following positive earnings surprises:
round(df_following['2day change'].median(),1)

2.6